{% extends 'main/layout.html' %}

{% block title %}Новые сотрудники{% endblock %}

{% block content %}
    <div class="features">
        <h1 style="margin-bottom: 3vw">Форма нового сотрудника</h1>
        <form method="post" class="contacts_form">
            {% csrf_token %}
            <div class="error">{{ form.non_field_errors }}</div>
            {% for el in form %}
                <p><a hidden href="">{{ el.label }}</a> {{ el }}</p>
                <div class="error">{{ el.errors }}</div>
            {% endfor %}
            <button type="submit" class="btn btn-success" style="margin-top: 2vw">Подтвердить</button>
        </form>
    </div>
{% endblock %}