{% extends 'main/layout.html' %}

{% block title %}Обратная связь{% endblock %}

{% block content %}
  <div class="features">
        <div>
            <h1>Обратная связь</h1>
            <h5 style="margin-bottom: 30px; text-decoration: underline solid #0DCAF0"><i>Расскажите о своих проблемах, предложениях</i></h5>
            <form method="post">
                {% csrf_token %}

                <div class="error">{{ form.non_field_errors }}</div>

                {% for el in form %}
                    <p>{{ el }}</p>
                    <div class="error">{{ el.errors }}</div>
                {% endfor %}

                <button type="submit" class="btn btn-outline-info" style="margin-top: 10px;">Отправить</button>
            </form>
        </div>
    </div>
{% endblock %}